/* global styles  */

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before, ::after{
  box-sizing: border-box;

}
body{
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.section{
  margin-left: 270px;
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
}
.section-two{
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 25px;
  overflow-x: hidden;
}
.section-title{
  position: relative;
}
.section-title h2{
  font-size: 35px;
  font-weight: 700;
  color: #302e4d;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
.section-title h2::before{
  content: '';
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  background-color: #ec1839;
}
.section-title h2::after{
  content: '';
  height: 4px;
  width: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #ec1839;
}
.sidebar-item{
  margin-left: 30px;
  transition: all 0.5s ease;
}
.sidebar-item button:hover{
  color: #ec1839;
  margin-left: 6px;
}

.socialLinks a{
  background-color: #ec1839;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #ec1839;
  color: #fff;
}
.socialLinks a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: transparent;
  color: #ec1839;
}
.timeline{
  position: relative;
}
.timeline::before{
  content: '';
  width: 2px;
  position: absolute;
  height: 88%;
  left: 0;
  background-color: #ec1839;
  margin-left: 17px;
  margin-top: 20px;
  margin-bottom: -20px;
}
.circle-dot{
  content: '';
  background-color: #ec1839;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  margin-left: -29px;
  margin-top: 4px;
}

.project-button{
  text-decoration: none;
  font-weight: 600;
  border: none;
  background: transparent;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
}
.project-button:hover{
  border-bottom: 2px solid #ec1839;
  color: #ec1839;
}
.image-effect{
  background-color: rgba(0, 0, 0, 0.658);
  position: absolute;
  height: 200px;
  width: 320px;
  z-index: 1;
  margin-top: -200px;
  display: none;
  transition: all 0.3s ease;
}
.p-button{
  margin-left: auto;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #ec1839;
  padding: 6px 12px;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.7s ease;
}
.p-button:hover{
  background-color: #ec1839;
  color: #fff;
}

.project-image img{
  position: relative;
  cursor: pointer;
}
.project:hover .image-effect{
  display: block;
}
.submit-button{
  margin-top: 30px;
  margin-right: 270px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #ec1839;
  color: #fff;
  border: 2px solid #ec1839;
  transition: all 0.5s ease;
  font-weight: 600;
}
.submit-button:hover{
  background-color: transparent;
  color: #ec1839;

}
.feature-button{
  text-decoration: none;
  font-weight: 600;
  border: none;
  background: transparent;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  color: #ec1839;
  border-bottom: 2px solid #ec1839;
}
.web-link{
  background-color: #ec1839;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 8px 20px;
  border-radius: 40px;
  border: 2px solid #ec1839;
  transition: all 0.5s ease;
  text-decoration: none;
}
.web-link:hover{
  color: #ec1839;
  background-color: transparent;
}

@media screen and (max-width: 600px){
  .section{
    margin-left: 10px;
    margin-top: -80px;
  }
  .media-button{
    padding-top: 90px;
    padding-left: 20px;
    
  }
  .projects{
    margin-left: 50px;
  }
  .button-link .web-link{
    padding: 6px 6px;
    font-size: 15px;
  }
  
}