/* global styles  */

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before, ::after{
  box-sizing: border-box;

}
body{
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.section{
  margin-left: 270px;
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
}
.sidebar-item{
  margin-left: 30px;
  transition: all 0.5s ease;
}
.sidebar-item button:hover{
  color: #ec1839;
  margin-left: 6px;
}

.socialLinks a{
  background-color: #ec1839;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #ec1839;
  color: #fff;
}
.socialLinks a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: transparent;
  color: #ec1839;
}
